@import './globals.scss';

.logo {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: auto;
  height: auto;
  background-size: cover;
  text-align: left;
}

.search-term {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
