@import './globals.scss';

.mentor-profile-container {
  grid-column: 2 / 5;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video-player {
  grid-column: 2 / 5;
  margin: auto;
  border-radius: 5px;
}

.mentor-calendar {
  grid-column: 2 / 5;
  margin: auto;
  border-radius: 5px;
}

.mentor-profile-section {
  grid-column: 2 / 5;
  margin: auto;
}
