@import './globals.scss';

main {
  max-width: 960px;
  min-width: 300px;
  width: 70vw;
  margin: 4rem auto;
}

.mentor-search-results::-webkit-scrollbar {
  display: none;
}

.mentor-result-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: -webkit-box;
  display: -ms-flexbox;
}

@media (min-width: 700px) {
  .mentor-result-container:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

@media (max-width: 700px) {
  .mentor-search-results {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .mentor-result-container {
    flex: 0 0 auto;
    width: 70%;
    height: 70%;
    margin: 0 10px 0 10px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
    p {
      font-size: 14px;
    }
  }
}
