@import './globals.scss';

.search-term {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.mentor-search-results {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(5, 1fr);
}

.mentor-result-container {
  grid-column: 2 / 5;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mentor-result-container:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
